html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  
}
body {
  background-color: #eee;
}
.head {
  width: 100%;
  height: 78px;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.centent {
  width: 1380px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}
.head .logo {
  float: left;
  margin-top: 10px;
}
.head .centent>ul {
  float: left;
  width: 55%;
  height: 78px;
  box-sizing: border-box;
  padding-top: 20px;
}
.head li {
  float: left;
  list-style: none;
  width: 20%;
  height: 100%;
  text-align: center;
}
.head-bck {
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative;
}
.dark {
  width: 100%;
  height: 131px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/dark.png);
  background-position: center top;
  z-index: 1;
}
.head-li-t {
  display: block;
  color: #fff;
  font-size: 18px;
}
.head-li-b {
  display: block;
  color: #aeaeae;
  font-size: 11px;
  margin-top: 5px;
}
.enroll {
  float: right;
  width: 244px;
  height: 78px;
  position: relative;
  z-index: 3;
}
.sculpture {
  float: left;
  width: 48px;
  height: 48px;
  position: relative;
  margin-top: 14px;
  line-height: 48px;
  text-align: center;
  font-size: 0;
  cursor: pointer;
}
.sculpture img {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: auto;
  border-radius: 50%;
}
.sculpture span {
  display: block;
  background-position: -216px -117px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.zhs {
  float: right;
}
.zhs p {
  color: #fefefe;
  font-size: 16px;
  line-height: 78px;
}
.zhs a {
  color: #fff3d0;
}
.zmicon {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 31px 0 0;
}
.zmicon a {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 24px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -303px -84px;
}
.search {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 12px 0 0;
}
.search i {
  display: inline-block;
  vertical-align: middle;
  background-position: -381px -39px;
  width: 21px;
  height: 21px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.look {
  display: block;
  position: absolute;
  width: 160px;
  height: 40px;
  z-index: 1;
  left: 50%;
  margin-left: -77px;
  bottom: 32px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -216px -39px;
}
.look:hover {
  filter: brightness(1.1);
  transition: all 0.3s;
}
.edition {
  position: absolute;
  right: 250px;
  bottom: 28px;
  font-size: 14px;
  color: #888787;
  z-index: 2;
}
.edition span {
  color: #f5d185;
  margin-right: 10px;
}
.detailed {
  display: inline-block;
  padding: 0 15px;
  height: 22px;
  border: 2px solid #f5d185;
  text-align: center;
  line-height: 22px;
  background: rgba(0,0,0,.65);
  font-size: 12px;
  color: #f5d185;
  border-image: linear-gradient(to bottom,#6b5024 0,#b88d35 100%);
  border-image-slice: 1; 
}
.detailed:hover {
  filter:brightness(1.15);
  transition:all 0.5s;
}
.ssinput {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #081322;
  z-index: 11;
}
.showss {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 327px 0 0;
}
.showss i {
  display: inline-block;
  vertical-align: middle;
  background-position: -381px -39px;
  width: 21px;
  height: 21px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
#ssk {
  float: right;
  width: 368px;
  height: 40px;
  line-height: 40px;
  background-color: #081322;
  box-sizing: border-box;
  padding-left: 5px;
  color: #fff;
  font-size: 16px;
  margin: 19px 200px 0 0;
  border: none;
}
.close {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 6px 0 0;
}
.close i {
  display: inline-block;
  vertical-align: middle;
  background-position: -324px -84px;
  width: 18px;
  height: 18px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.head-ewm-h {
  background-position: 0 0;
  width: 211px;
  height: 178px;
  position: absolute;
  top: 54px;
  right: 190px;
  /* opacity: 0; */
  display: none;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.head-ewm-h i {
  display: block;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 117px;
  background-color: #fff;
  margin: 22px auto 0 auto;
  border-radius: 10px;
}
.head-ewm-h p {
  color: #cdbe91;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.head-ewm-h>img {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -2px;
}
.head-ewm-h i img {
  width: 110px;
  height: 110px;
  vertical-align: middle;
}
.head-login {
  /* opacity: 0; */
  display: none;
  position: absolute;
  top: 0;
  right: -38px;
  width: 310px;
  height: auto;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  padding-top: 70px;
}
.p1,.p2 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 24px;
  font-size: 12px;
  color: #848383;
  text-align: center;
  margin-top: 30px;
}
.head-login a {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #000;
  margin-top: 20px;
}
@keyframes xjt {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.head-login a:hover .arrow {
  animation: xjt 1.5s linear infinite;
}
.head-login a i {
  position: absolute;
  top: 18px;
  right: 84px;
  display: inline-block;
  vertical-align: middle;
  background-position: -213px -126px;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.head-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  padding: 80px 0 32px 0;
}
.head-nav div {
  width: 1380px;
  height: auto;
  margin: 0 auto;
}
.head-nav ul {
  width: 55%;
  overflow: hidden;
  margin-left: 161px;
}
.head-nav ul li {
  float: left;
  list-style: none;
  width: 20%;
  height: 100%;
  text-align: center;
}
.head-nav a {
  display: block;
  width: 100%;
  height: 29px;
  overflow: hidden;
  line-height: 29px;
  color: #e1e1e1;
  font-size: 14px;
  text-align: center;
}
.head-nav a:hover {
  color: rgb(233, 192, 108);
}
.n {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: -2px 2px 0 0;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -381px -65px;
}
.h {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: -2px 2px 0 0;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -347px -84px;
}
.big {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 100%;
  margin-left: -960px;
}
.small {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 100%;
  margin-left: -960px;
}
.wraper {
  color: #666;
  width: 100%;
  height: auto;
  background: #f7f8f8;
  overflow: hidden;
}
.wraper-center {
  position: relative;
  z-index: 1;
  overflow: hidden;
  zoom: 1;
  width: 1240px;
  margin: 0 auto 50px;
}
.nav {
  width: 100%;
  height: 96px;
  text-align: left;
  line-height: 96px;
  font-size: 14px;
}
.lbt {
  width: 100%;
  height: 632px;
  position: relative;
}
.nav i {
  display: inline-block;
  vertical-align: middle;
  background-image:url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.home {
  background-position: -343px -72px;
  width: 16px;
  height: 16px;
  margin: -3px 9px 0 0;
}
.nav a {
  color: #a9a9a9;
}
.right {
  background-position: -387px -46px;
  width: 5px;
  height: 8px;
  margin: -2px 21px 0 21px;
}
.nav .last-a {
  color: #666;
  cursor: text;
}
.under:hover {
  text-decoration: underline;
}
.panel {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 290px;
  color: #fff;
  z-index: 3;
}
.shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 100%;
  z-index: 2;
  background: #000;
  opacity: 0.6;
}
.skin-lbt {
  width: 100%;
  height: 632px;
  overflow: hidden;
  position: relative;
}
.panel h1 {
  font-size: 24px;
  line-height: 25px;
  padding-bottom: 25px;
  font-weight: 400;
}
.panel h2 {
  font-size: 42px;
  padding-bottom: 30px;
}
.panel span {
  display: block;
  width: 35px;
  height: 21px;
  line-height: 21px;
  margin-right: 5px;
  text-align: center;
  background: #00a483;
  border-radius: 5px;
}
.up {
  display: block;
  height: 12px;
}
.up1 {
  width: 20%;
  background: #f2c500;
}
.panel dl {
  margin-top: 25px;
  height: 90px;
  width: 150px;
}
.panel dl dt {
  float: left;
  width: 40%;
  margin-bottom: 5px;
  height: 16px;
  line-height: 16px;
}
.panel dl dd {
  float: left;
  width: 60%;
  margin: 2px 0 7px;
  height: 12px;
  background: #363c3c;
}
.up2 {
  width: 100%;
  background: #f59d00;
}
.up3 {
  width: 30%;
  background: #2c97de;
}
.up4 {
  width: 60%;
  background: #1eca6b;
}
.buy {
  display: block;
  width: 153px;
  height: 40px;
  margin-top: 25px;
  background-image: url(../images/page.png);
  background-repeat: no-repeat;
  background-position: -638px 0;
}
.skin-all {
  position: relative;
  width: 16120px;
  left: 0;
}
.skin-all li {
  float: left;
  width: 1240px;
}
.skin-all li img {
  width: 100%;
  height: 632px;
}
.skin-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-left: 306px;
}
.skin-name {
  padding-bottom: 10px;
  text-align: right;
}
.skinname {
  padding: 0 5px;
  background-color: #000;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.skinbtn-all li {
  float: left;
}
.skinbtn-all a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.skinbtn-all img {
  opacity: 0.7;
}
.skinbtn-all li:hover img {
  opacity: 1;
}
.bor img {
  opacity: 1;
}
.bor span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 52px;
  height: 52px;
  border: 4px solid #00a483;
}













footer {
  position: relative;
  width: 100%;
  height: 175px;
  padding: 45px 0;
  background-color: #e3e2e2;
  color: #9f9378;
  font-size: 12px;
  z-index: 1;
}
.tencent {
  height: 100px;
  width: auto;
  line-height: 100px;
  font-size: 0;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -50px;
}
.tencent>a {
  display: inline-block;
  vertical-align: middle;
  float: none;
  background-image: url(../images/topfoot-spr.png);
  background-repeat: no-repeat;
  background-size: 405px 178px;
  margin: 0 24px 0 8px;
}
.tencent-logo {
  background-position: -216px 0;
  width: 189px;
  height: 34px;
}
.riot {
  background-position: -216px -84px;
  width: 82px;
  height: 28px;
}
.foot {
  float: right;
  width: 750px;
  margin-top: 20px;
}
.foot li {
  line-height: 20px;
}
.foot li a {
  color: #9f9378;
}
.foot li a:hover {
  text-decoration: underline;
}