html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  
}
body {
  background-color: #eee;
}
.head {
  width: 100%;
  height: 78px;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.centent {
  width: 1380px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}
.head .logo {
  float: left;
  margin-top: 10px;
}
.head .centent>ul {
  float: left;
  width: 55%;
  height: 78px;
  box-sizing: border-box;
  padding-top: 20px;
}
.head li {
  float: left;
  list-style: none;
  width: 20%;
  height: 100%;
  text-align: center;
}
.head-bck {
  width: 100%;
  height: 720px;
  overflow: hidden;
  position: relative;
}
.dark {
  width: 100%;
  height: 131px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/dark.png);
  background-position: center top;
  z-index: 1;
}
.head-li-t {
  display: block;
  color: #fff;
  font-size: 18px;
}
.head-li-b {
  display: block;
  color: #aeaeae;
  font-size: 11px;
  margin-top: 5px;
}
.enroll {
  float: right;
  width: 244px;
  height: 78px;
  position: relative;
  z-index: 3;
}
.sculpture {
  float: left;
  width: 48px;
  height: 48px;
  position: relative;
  margin-top: 14px;
  line-height: 48px;
  text-align: center;
  font-size: 0;
  cursor: pointer;
}
.sculpture img {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: auto;
  border-radius: 50%;
}
.sculpture span {
  display: block;
  background-position: -216px -117px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.zhs {
  float: right;
}
.zhs p {
  color: #fefefe;
  font-size: 16px;
  line-height: 78px;
}
.zhs a {
  color: #fff3d0;
}
.zmicon {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 31px 0 0;
}
.zmicon a {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 24px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -303px -84px;
}
.search {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 12px 0 0;
}
.search i {
  display: inline-block;
  vertical-align: middle;
  background-position: -381px -39px;
  width: 21px;
  height: 21px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.look {
  display: block;
  position: absolute;
  width: 160px;
  height: 40px;
  z-index: 1;
  left: 50%;
  margin-left: -77px;
  bottom: 91px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -216px -39px;
}
.edition {
  position: absolute;
  right: 250px;
  bottom: 28px;
  font-size: 14px;
  color: #888787;
  z-index: 2;
}
.edition span {
  color: #f5d185;
  margin-right: 10px;
}
.detailed {
  display: inline-block;
  padding: 0 15px;
  height: 22px;
  border: 2px solid #f5d185;
  text-align: center;
  line-height: 22px;
  background: rgba(0,0,0,.65);
  font-size: 12px;
  color: #f5d185;
  border-image: linear-gradient(to bottom,#6b5024 0,#b88d35 100%);
  border-image-slice: 1; 
}
.detailed:hover {
  filter:brightness(1.15);
  transition:all 0.5s;
}
.ssinput {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #081322;
  z-index: 11;
}
.showss {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 327px 0 0;
}
.showss i {
  display: inline-block;
  vertical-align: middle;
  background-position: -381px -39px;
  width: 21px;
  height: 21px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
#ssk {
  float: right;
  width: 368px;
  height: 40px;
  line-height: 40px;
  background-color: #081322;
  box-sizing: border-box;
  padding-left: 5px;
  color: #fff;
  font-size: 16px;
  margin: 19px 200px 0 0;
  border: none;
}
.close {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 17px 6px 0 0;
}
.close i {
  display: inline-block;
  vertical-align: middle;
  background-position: -324px -84px;
  width: 18px;
  height: 18px;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.head-ewm-h {
  background-position: 0 0;
  width: 211px;
  height: 178px;
  position: absolute;
  top: 54px;
  right: 190px;
  /* opacity: 0; */
  display: none;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
}
.head-ewm-h i {
  display: block;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 117px;
  background-color: #fff;
  margin: 22px auto 0 auto;
  border-radius: 10px;
}
.head-ewm-h p {
  color: #cdbe91;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.head-ewm-h>img {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -2px;
}
.head-ewm-h i img {
  width: 110px;
  height: 110px;
  vertical-align: middle;
}
.head-login {
  /* opacity: 0; */
  display: none;
  position: absolute;
  top: 0;
  right: -38px;
  width: 310px;
  height: auto;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  padding-top: 70px;
}
.p1,.p2 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 24px;
  font-size: 12px;
  color: #848383;
  text-align: center;
  margin-top: 30px;
}
.head-login a {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #000;
  margin-top: 20px;
}
.head-login a i {
  position: absolute;
  top: 18px;
  right: 84px;
  display: inline-block;
  vertical-align: middle;
  background-position: -213px -126px;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.head-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  padding: 80px 0 32px 0;
}
.head-nav div {
  width: 1380px;
  height: auto;
  margin: 0 auto;
}
.head-nav ul {
  width: 55%;
  overflow: hidden;
  margin-left: 161px;
}
.head-nav ul li {
  float: left;
  list-style: none;
  width: 20%;
  height: 100%;
  text-align: center;
}
.head-nav a {
  display: block;
  width: 100%;
  height: 29px;
  overflow: hidden;
  line-height: 29px;
  color: #e1e1e1;
  font-size: 14px;
  text-align: center;
}
.head-nav a:hover {
  color: rgb(233, 192, 108);
}
.n {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: -2px 2px 0 0;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -381px -65px;
}
.h {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: -2px 2px 0 0;
  background-image: url(../images/topfoot-spr.png);
  background-size: 405px 178px;
  background-repeat: no-repeat;
  background-position: -347px -84px;
}
.big {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 100%;
  margin-left: -960px;
}
.small {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 100%;
  margin-left: -960px;
}
.wrap1 {
 height: auto;
 background-color: rgb(238, 238, 238);
}
.wrap1>.centent {
  padding: 40px 0 80px 0;
}
.centent::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.lbt {
  float: left;
  width: 820px;
  height: 380px;
  overflow: hidden;
  background-color: #e3e2e2;
  position: relative;
}
.lbt ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 340px;
  overflow: hidden;
}
.lbt ul li {
  float: left;
  width: 820px;
  height: 100%;
  overflow: hidden;
}
.lbt ul img {
  width: 100%;
  height: 100%;
}
.lbt-tab {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 820px;
  height: 40px;
  overflow: hidden;
}
.lbt-tab span {
  float: left;
  width: 164px;
  height: 40px;
  box-sizing: border-box;
  background-color: #e3e2e2;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #424242;
  letter-spacing: 1px;
}
.lbt-tab .xuanding {
  color: #ab8e66;
  background-color: #fff;
  border-bottom: 2px #cea861 solid;
}
.tab {
  width: 496px;
  height: 380px;
  overflow: hidden;
  float: right;
}
.tab-top {
  position: relative;
  width: 496px;
  height: 35px;
  overflow: visible;
  box-sizing: border-box;
  border-bottom: 1px #e0e2e2 solid;
}
.tab-top ul {
  position: absolute;
  left: 0;
  width: 596px;
  height: 35px;
  box-sizing: border-box;
  border-bottom: 1px #e0e2e2 solid;
}
.tab-top ul li {
  position: relative;
  cursor: pointer;
  float: left;
  width: auto;
  min-width: 40px;
  height: 37px;
  overflow: visible;
  color: #676767;
  letter-spacing: 1px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-right: 74px;
}
.tab .tab-top .tab-top-xd {
  font-weight: 700;
  color: #1da6ba;
}
.tab-top-xd::after {
  content: '';
  position: absolute;
  background-image: url(../images/tab-title-selected.png);
  background-position: center center;
  box-sizing: border-box;
  width: 100%;
  height: 7px;
  left: 0;
  bottom: 0;
}
.new {
  width: 496px;
  height: 345px;
  position: relative;
}
.new ul {
  display: none;
  width: 496px;
  height: 305px;
  position: absolute;
  top: 0;
  left: 0;
}
.new  .new-show {
  display: block;
}
.new-first {
  width: 496px;
  height: 59px;
  overflow: hidden;
  line-height: 59px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 12px;
  color: #0da0b4;
}
.new-first a {
  color: #0da0b4;
}
.new-first a:hover {
  color: rgb(187, 154, 108);
}
.gonggao {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  box-sizing: border-box;
  font-size: 12px;
  color: #bb9a6c;
  border: 1px #c5ab86 solid;
  line-height: 18px;
  text-align: center;
}
.new ul li:nth-last-child(-n+6) {
  width: 496px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px #e0e2e2 solid;
  text-align: left;
  font-size: 0;
}
.new-time {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 39px;
  overflow: hidden;
  text-align: right;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9d9d9d;
  margin-left: 18px;
}
.new ul li:nth-last-child(-n+6) a {
  display: inline-block;
  vertical-align: middle;
  width: 370px;
  height: 39px;
  overflow: hidden;
  margin-left: 20px;
  color: #424242;
  font-size: 14px;
  letter-spacing: 1px;
}
.new ul .gg a:hover {
  color: rgb(198, 154, 108);
}
.ss .gonggao {
  color: #6388c5;
  border: 1px #97afc5 solid;
}
.new ul .ss a:hover {
  color: rgb(99, 136, 197);
}
.yl .gonggao {
  border: 1px #69c5d2 solid;
  color: #1da6ba;
}
.new ul .yl a:hover {
  color: rgb(29, 166, 186);
}
.jx .gonggao {
  color: #4ba36a;
  border: 1px #4ba36a solid;
}
.new ul .jx a:hover {
  color: rgb(75, 163, 106);
}
.yuedu {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 496px;
  height: 40px;
  background-color: #e3e2e2;
  line-height: 40px;
  text-align: center;
}
.yd1 {
  font-size: 14px;
  color: #676767;
}
.yd2 {
  font-size: 14px;
  color: #7ea1a6;
}
.yuedu i {
  position: absolute;
  top: 18px;
  right: 170px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 5px;
  background-position: -213px -126px;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.hot {
  width: 820px;
  height: 335px;
  float: left;
  margin-top: 50px;
}
.hot-top {
  width: 100%;
  height: 35px;
  overflow: visible;
  position: relative;
}
.part-title {
  position: absolute;
  width: auto;
  height: 28px;
  top: 5px;
  left: -6px;
  box-sizing: border-box;
  color: #0b0b0b;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
.part-title::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 28px;
  background-color: #1da6ba;
  margin-right: 10px;
}
.hot-top ul {
  position: absolute;
  width: 692px;
  height: 35px;
  left: 128px;
  box-sizing: border-box;
  border-bottom: 1px #e0e2e2 solid;
}
.hot-top li {
  list-style: none;
  position: relative;
  cursor: pointer;
  float: left;
  width: auto;
  min-width: 40px;
  height: 37px;
  overflow: visible;
  color: #676767;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  margin-right: 40px;
}
.centent ul .tab-top-xd {
  font-weight: 700;
  color: #1da6ba;
}
.arrowhead {
  position: absolute;
  top: 0;
  right: 2px;
  display: block;
  width: 60px;
  height: 35px;
  font-size: 12px;
  color: #7ea1a6;
  line-height: 35px;
  z-index: 1;
  text-align: center;
}
.arrowhead i {
  position: absolute;
  top: 15px;
  right: 0px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 5px;
  background-position: -213px -126px;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.hot-bottom {
  width: 820px;
  height: 278px;
  margin-top: 21px;
  position: relative;
}
.hot-bottom ul {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hot-bottom .hot-show {
  display: block;
}
.hot-bottom ul li {
  cursor: pointer;
  float: left;
  width: 193px;
  height: 278px;
  overflow: hidden;
  position: relative;
  background-color: #fefefe;
  transform: translateY(0);
  transition: all 0.5s;
}
.hot-bottom ul li:nth-last-child(-n+3) {
  margin-left: 16px;
}
.hot-bottom li img {
  display: block;
  width: 193px;
  height: 207px;
}
.hot-bottom li>p {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 10px 4px 10px;
  font-size: 14px;
  color: #424242;
  line-height: 18px;
  text-align: left;
}
.hot-bottom li a {
  position: absolute;
  font-size: 12px;
  color: #1da6ba;
  left: 10px;
  bottom: 6px;
}
.hot-bottom li>i {
  position: absolute;
  right: 10px;
  bottom: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 14px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: -301px -46px;
}
.hot-hover {
  display: none;
  width: 193px;
  height: 207px;
  line-height: 207px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}
.hot-hover i {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -94px;
  top: 50%;
  margin-top: -100px;
  width: 188px;
  height: 200px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.hot-hover div {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 1.5;
  padding: 0 10px;
}
.hot-hover div h4 {
  font-size: 16px;
  font-weight: 400;
  color: #cdbe91;
}
.hot-hover div p {
  font-size: 12px;
  color: #9d9c9c;
  overflow: hidden;
}
.hot-bottom ul li:hover .hot-hover {
  display: block;
}
.hot-bottom ul li:hover {
  transform: translateY(-10px);
}
.download {
  width: 496px;
  height: 335px;
  float: right;
  margin-top: 50px;
  position: relative;
}
.download ul li {
  float: left;
  cursor: pointer;
  position: relative;
}
.l1 video {
  display: block;
  width: 366px;
  height: 168px;
}
.download ul .li{
  filter:brightness(1);
}
.download ul .l1:hover{
  filter:brightness(1.15);
  transition:all 1s;
}
.look:hover {
  /* 滤镜 */
  /* 给图片应用一种线性乘法，使其看起来更亮或更暗。
  如果值是0%，图像会全黑。值是100%，则图像无变化。
  其他的值对应线性乘数效果。值超过100%也是可以的，
  图像会比原来更亮。如果没有设定值，默认是1。 */
  filter:brightness(1.15);
  transition:all 0.5s;
}
.l2,.l3 {
  width: 118px;
  height: 76px;
  margin-left: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 76px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -193px -316px;
}
.download .l3 {
  margin: 17px 0 0 12px;
}
.download .l3:hover {
  filter:brightness(1.15);
  transition:all 0.5s;
}
.l2-hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
.l2-hover a {
  float: left;
  width: 60px;
  box-sizing: border-box;
  border-right: 1px #eee solid;
  color: #424242;
  font-size: 12px;
  line-height: 30px;
}
.l2-hover a i {
  display: block;
  margin: 18px auto 0;
  width: 20px;
  height: 22px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.zhiyin {
  background-position: -244px -72px;
}
.libao {
  background-position: -285px -99px;
}
@keyframes sf {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.l2-hover a:first-child:hover .zhiyin {
  animation: sf 0.5s linear;
}
.l2-hover a:hover {
  color: rgb(13, 160, 180);
}
.l2-hover a:last-child:hover .libao {
  animation: sf 0.5s linear;
}
.l2:hover .l2-hover {
  display: block;
}
.l4 a,.l5 a {
  float: left;
  width: 112px;
  height: 68px;
  color: #424242;
  text-align: center;
  line-height: 68px;
  background-color: #fefefe;
}
.l4 {
  margin: 15px 16px 0 0;
}
.l4 i,.l5 i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  width: 22px;
  height: 20px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.l5 {
  margin-top: 15px;
}
.l4 b {
  position: absolute;
  left: 0;
  top: 0;
  background-position: -301px -46px;
  width: 29px;
  height: 14px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.download ul li:nth-child(4) i {
  background-position: -316px -12px;
}
.download ul li:nth-child(5) i {
  background-position: -219px -72px;
}
.download ul li:nth-child(6) i {
  background-position: -343px -12px;
}
.download ul li:nth-child(7) i {
  background-position: -193px -72px;
}
.download ul li:nth-child(8) i {
  background-position: -280px -125px;
}
.download ul li:nth-child(9) i {
  background-position: -371px -12px;
}
.download ul li:nth-child(10) i {
  background-position: -274px -46px;
}
.download ul li:nth-child(11) i {
  background-position: -193px -46px;
}
.download ul li:nth-last-child(-n+8):hover i {
  animation: sf 0.5s linear;
}
.download ul li:hover a {
  border-radius:4px;
  box-shadow:0 0 10px #ccc;
  color:#0da0b4;
}
.hero {
  float: left;
  width: 820px;
  height: 254px;
  margin-top: 51px;
}
.hero-left {
  float: left;
  position: relative;
  width: 402px;
  height: 254px;
  background-color: #f7f6f6;
}
.hero-left>i,.hero-right i {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(http://game.gtimg.cn/images/lol/v3/pic-mask-0.png);
  width: 100%;
  height: 133px;
}
.hero-left>a,.hero-right>a {
  position: absolute;
  display: block;
  left: 9px;
  top: 9px;
  width: auto;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  color: #cdbe91;
  line-height: 19px;
  background-color: #000;
}
.hero-p1 {
  width: 100%;
  padding: 0 17px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 33px;
  font-size: 16px;
  font-weight: 700;
  color: #cdbe91;
}
.hero-p2 {
  width: 100%;
  padding-left: 17px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 12px;
  font-size: 14px;
  color: #cfcfcf;
}
.hero-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 402px;
  height: 254px;
  overflow: hidden;
  opacity: 0;
  z-index: 11;
  transform: translateY(5px);
  background-color: rgb(0,0,0,0.7);
}
.hero-left:hover .hero-hover {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}
.hero-hover>i {
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 396px;
  height: 248px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.hero-hover p {
  color: #cdbe91;
  font-size: 18px;
  position: absolute;
  left: 27px;
  top: 20px;
}
.hero-hover a {
  position: absolute;
  left: 25px;
  bottom: 18px;
  display: block;
  width: 154px;
  height: 42px;
  color: #ffdb8b;
  font-size: 14px;
  text-align: center;
  line-height: 42px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -401px -179px;
}
.hero-hover a i {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: -362px -99px;
}
.hero-hover a:hover {
  filter:brightness(1.15);
  transition:all 0.5s;
}
.hero-right {
  float: left;
  position: relative;
  width: 402px;
  height: 254px;
  background-color: #f7f6f6;
  margin-left: 16px;
}
.video-show {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -20px;
  width: 435px;
  margin-left: -217px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 20px #aaa;
}
.video-show img {
  display: block;
  width: 435px;
  height: 244px;
}
.video-hover {
  width: 435px;
  height: 244px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.video-p1 {
  margin-top: 10px;
  width: 270px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  box-sizing: border-box;
  padding-left: 11px;
  color: #0b0b0b;
  font-size: 16px;
  text-align: left;
}
.video-p2 {
  width: 270px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 11px;
  color: #a1a1a2;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}
.video-show>a {
  position: absolute;
  right: 10px;
  bottom: 17px;
  display: block;
  width: 86px;
  height: 29px;
  line-height: 27px;
  overflow: hidden;
  color: #bb9a6c;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  border: 1px #bb9a6c solid;
}
.video-show>a:hover {
  background-color: #bb9a6c;
  color: #fff;
}
.video-hover .tx {
  position: relative;
  display: block;
  width: 435px;
  height: 244px;
  cursor: auto;
  color: #fff;
}
.yy-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  height: 120px;
  background-image: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0));
  background-position: 0 bottom;
  background-repeat: repeat-x;
}
.tx-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tx-video video {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.banben-nav {
  width: 496px;
  height: 255px;
  float: right;
  position: relative;
  padding-top: 51px;
}
.nav1 {
  background-color: #f7f6f6;
  position: relative;
  float: left;
  width: 240px;
  height: 120px;
  overflow: visible;
  margin-bottom: 15px;
  cursor: pointer;
}
.nav1 img {
  width: 240px;
  height: 120px;
}
.nav1-hover {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 20px #aaa;
  width: 270px;
  margin-left: -135px;
}
.nav1-p1 {
  margin-top: 10px;
  width: 270px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  box-sizing: border-box;
  padding-left: 11px;
  color: #0b0b0b;
  font-size: 16px;
  text-align: left;
}
.nav1-p2 {
  width: 270px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 11px;
  color: #a1a1a2;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}
.nav1-hover img {
  width: 270px;
  height: 186px;
}
.kfday {
  float: right;
  width: 242px;
  height: 180px;
  position: relative;
  background-color: #f7f6f6;
}
.kfday-hover {
  opacity: 0;
  width: 242px;
  height: 180px;
  line-height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}
.kfday-hover i {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -118.5px;
  top: 50%;
  margin-top: -87px;
  width: 237px;
  height: 174px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -401px 0;
}
.kfday-hover div {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}
.kfday-hover h4 {
  font-size: 16px;
  font-weight: 400;
  color: #cdbe91;
  margin-bottom: 2px;
}
.kfday-hover p {
  font-size: 12px;
  color: #9d9c9c;
}
.kfday:hover .kfday-hover {
  opacity: 1;
  transition: all 0.5s;
}
.model {
  background-color: #f7f6f6;
  position: relative;
  float: left;
  width: 240px;
  height: 120px;
  overflow: visible;
  margin-bottom: 15px;
}
.nimg2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.model:hover .nimg2 {
  opacity: 1;
  transition: all 0.5s;
}
.weekfree {
  float: right;
  width: 239px;
  height: 58px;
  overflow: visible;
  position: relative;
  margin-top: 17px;
  transition: all 0.5s;
}
.weekfree a {
  display: block;
  width: 239px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -193px -253px;
}
.week-i1 {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 9px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -531px -226px;
  margin: -1px 12px 0 12px;
  opacity: .7;
}
.week-i2 {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: -342px -99px;
}
.week-i3 {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 9px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -506px -226px;
  margin: -1px 12px 0 12px;
  opacity: .7;
}
.weekfree:hover {
  filter: brightness(1.1);
}
/* 箭头动画 */
@keyframes xjt {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.weekfree:hover .week-i2 {
  animation: xjt 1.5s linear infinite;
}
.arrowhead:hover i  {
  animation: xjt 1.5s linear infinite;
}
.yuedu:hover i {
  animation: xjt 1.5s linear infinite;
}
.head-login a:hover i {
  animation: xjt 1.5s linear infinite;
}
.week-hover {
  display: none;
  width: auto;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 310px;
  box-shadow: 0 0 12px #bbb;
  padding: 6px 5px 10px 5px;
  z-index: 2;
  right: 0;
}
.week-hover i {
  display: block;
  width: 14px;
  height: 7px;
  position: absolute;
  top: -7px;
  right: 114px;
  z-index: 10;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -556px -226px;
}
.week-hover ul {
  width: 420px;
  overflow: hidden;
  margin: 0 auto;
}
.week-hover ul li {
  width: auto;
  height: auto;
  overflow: hidden;
  float: left;
  margin: 7px 5px 0 5px;
  position: relative;
  cursor: pointer;
}
.week-hover li img {
  display: block;
  width: 46px;
  height: 46px;
  border: 2px #bb9a6c solid;
  border-radius: 50%;
}
.more {
  width: 1358px;
  height: 0;
  float: left;
  position: relative;
  overflow: hidden;
}
.center {
  width: 1380px;
  height: 100%;
  float: left;
}
.center ul {
  width: 100%;
  float: left;
}
.center ul li {
  width: 185px;
  height: 117px;
  overflow: hidden;
  float: left;
  margin-right: 12px;
  position: relative;
}
.center li p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #cdbe91;
  background-color: rgba(0,0,0,0.6);
}
.center li img {
  width: 185px;
  height: 117px;
}
.center ul li:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.wrap2 {
  width: 100%;
  background-color: #e3e2e2;
  padding: 64px 0 66px 0;
  position: relative;
  z-index: 1;
}
.new-video {
  position: relative;
  float: left;
  width: 820px;
  height: 463px;
}
.new-video-top {
  width: 100%;
  height: 35px;
  position: relative;
}
.new-video-top ul {
  position: absolute;
  width: 692px;
  height: 35px;
  left: 128px;
  box-sizing: border-box;
  border-bottom: 1px #d6d7d8 solid;
}
.new-video-top ul li {
  position: relative;
  cursor: pointer;
  float: left;
  width: auto;
  min-width: 40px;
  height: 37px;
  color: #676767;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  margin-right: 40px;
}
.new-video-top a {
  position: absolute;
  top: 0;
  right: 2px;
  display: block;
  width: 60px;
  height: 35px;
  font-size: 12px;
  color: #7ea1a6;
  line-height: 35px;
  z-index: 1;
  text-align: center;
}
.new-video-top a i {
  position: absolute;
  top: 15px;
  right: 0px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 5px;
  background-position: -213px -126px;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
}
.new-video-top li i {
  position: absolute;
  right: -30px;
  top: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 14px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: -301px -46px;
}
.new-video-top a:hover i {
  animation: xjt 1.5s linear infinite;
}
.new-video-top span {
  position: absolute;
  right: 90px;
  top: 0;
  color: #7ea1a6;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  padding: 0 3px;
  cursor: pointer;
}
.new-video-top span i {
  position: absolute;
  right: -14px;
  top: 11px;
  width: 12px;
  height: 13px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: -369px -46px;
}
.new-video>ul {
  width: 840px;
  height: auto;
  min-height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
}
.new-video .video-item {
  display: block;
}
.video-item li {
  float: left;
  width: 193px;
  height: 185px;
  overflow: hidden;
  margin: 0 16px 16px 0;
  position: relative;
  cursor: pointer;
}
.video-item li div {
  display: block;
  width: 193px;
  height: 107px;
  overflow: hidden;
  position: relative;
}
.video-item div img {
  display: block;
  position: relative;
  width: 198px;
  height: 110px;
}
.video-item div span {
  display: none;
  width: 54px;
  height: 54px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -27px 0 0 -27px;
}
.video-item span i {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 54px;
  height: 54px;
  background-image: url(..//images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -437px -253px;
}
.video-item span a {
  position: relative;
  display: block;
  width: 11px;
  height: 13px;
  margin: 20px auto 0 auto;
  background-image: url(..//images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -456px -316px;
}
.video-time {
  position: absolute;
  right: 10px;
  top: 85px;
  color: #fff;
  font-size: 12px;
}
.word {
  position: absolute;
  left: 0;
  top: 118px;
  width: 100%;
  height: 42px;
  overflow: hidden;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  color: #424242;
}
.num {
  position: absolute;
  left: 9px;
  bottom: 4px;
  font-size: 12px;
  color: #919091;
}
.hour {
  position: absolute;
  right: 13px;
  bottom: 4px;
  font-size: 12px;
  color: #919091;
}
.video-item li:hover .word {
  color: #0da0b4;
}
.video-item li:hover span {
  display: block;
}
.video-item li:hover i {
  animation: rot 6s linear infinite;
}
@keyframes rot {
  0% {
    transform:rotateZ(0deg) ; 
  }
  100% {
    transform:rotateZ(360deg) ; 
  }
}
.hotprogram {
  float: right;
  width: 496px;
}
.program-top {
  width: 100%;
  height: 35px;
  position: relative;
}
.program-top ul {
  position: absolute;
  width: 367px;
  height: 35px;
  left: 128px;
  box-sizing: border-box;
  border-bottom: 1px #d6d7d8 solid;
}
.program-top ul li {
  position: relative;
  cursor: pointer;
  float: left;
  height: 37px;
  color: #676767;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  margin-right: 14px;
}
.program-bottom {
  width: 496px;
  height: 337px;
  margin-top: 32px;
  position: relative;
  overflow: hidden;
}
.program-bottom ul {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1881px;
  height: 337px;
}
.program-bottom .program-bottom-show {
  display: block;
}
.program-bottom ul li {
  float: left;
  width: 156px;
  height: 337px;
  position: relative;
  margin-right: 15px;
}
.program-bottom li>img {
  width: 156px;
  height: 212px;
}
.program-bottom li h4 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 140px;
}
.program-bottom li p {
  font-size: 12px;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 169px;
  box-sizing: border-box;
  padding: 0 7px;
}
.pro-text1 {
  font-size: 14px;
  text-align: left;
  color: #919091;
  width: 100%;
  height: 42px;
  line-height: 21px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 224px;
  box-sizing: border-box;
  padding: 0 7px;
}
.pro-text2 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 4px;
  color: #919091;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 280px;
}
.pro-text2 img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: -2px 2px 0 0;
}
.go-tv {
  display: block;
  width: 506px;
  height: 50px;
  font-size: 16px;
  color: #ab8e66;
  text-align: center;
  line-height: 50px;
  margin-left: -5px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: 0 -522px;
}
.go-tv:hover {
  filter: brightness(1.08);
}
.go-tv:hover i {
  animation: xjt 1.5s linear infinite;
}
.go-tv i {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 9px;
  background-image: url(../images/comm-spr.png);
  background-size: 393px 200px;
  background-repeat: no-repeat;
  background-position: -362px -99px;
}
.program-left,.program-right {
  position: absolute;
  width: 23px;
  height: 51px;
  top: 89px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
}
.program-left {
  background-position: -221px -397px;
  left: -29px;
}
.program-right {
  background-position: -193px -397px;
  right: -29px;
}
.program-b {
  position: relative;
}
.program-left:hover,.program-right:hover {
  filter: brightness(1.08);
}
.wrap3 {
  width: 100%;
  padding: 64px 0 80px 0;
  position: relative;
}
.game-top {
  width: 100%;
  height: 35px;
  position: relative;
}
.game-top ul {
  position: absolute;
  height: 35px;
  left: 128px;
  box-sizing: border-box;
  width: 1230px;
}
.game-top ul li {
  position: relative;
  cursor: pointer;
  float: left;
  height: 37px;
  color: #676767;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  margin-right: 54px;
}
.event {
  position: absolute;
  top: 0;
  right: 61px;
  width: auto;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: #676767;
}
.game-container {
  display: none;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 26px;
}
.game-show {
  width: 1380px;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.game-show ul {
  width: 2760px;
  height: 198px;
}
.swiper-slide {
  float: left;
  height: 100%;
  margin-right: 16px;
  position: relative;
  background-color: #fefefe;
}
.game-time {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(left,#adadad,#c1c0c0);
}
.game-time i {
  display: block;
  background: url(../images/gamelist-top-ware.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  width: 285px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
}
.fir {
  float: left;
  font-weight: 700;
  margin-left: 12px;
}
.sec {
  float: right;
  margin-right: 12px;
}
.third {
  float: right;
  margin-right: 14px;
}
.icon-left {
  position: absolute;
  left: 6px;
  top: 38px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  text-align: center;
}
.icon-right {
  position: absolute;
  right: 6px;
  top: 38px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  text-align: center;
}
.icon-left span,.icon-right span {
  display: block;
  width: 85px;
  height: 65px;
  line-height: 65px;
}
.icon-left span img,.icon-right span img {
  vertical-align: middle;
  width: 50px;
}
.icon-left a,.icon-right a {
  color: #385155;
  font-size: 18px;
  line-height: 20px;
}
.score {
  display: block;
  width: 86px;
  height: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 54px;
  left: 50%;
  font-size: 0;
  margin-left: -43px;
}
.score a {
  font-size: 34px;
  margin: 0 2px;
  color: #171717
}
.back {
  display: block;
  width: 86px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  box-sizing: border-box;
  border: 1px #727272 solid;
  color: #727272;
  margin: 105px auto 0 auto;
}
.back:hover {
  background-color: #727272;
  color: #fff;
}
.last-p1,.last-p2 {
  width: 100%;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
  color: #727272;
}
.last-p1 {
  margin-top: 12px;
}
#roll-left,#roll-right {
  position: absolute;
  opacity: 1;
  top: 125px;
  width: 23px;
  height: 51px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
}
#roll-left {
  left: -29px;
  background-position: -221px -397px;
}
#roll-right {
  right: -29px;
  background-position: -193px -397px;
}
#roll-left:hover,#roll-right:hover {
  filter: brightness(1.08);
}
.power {
  float: left;
  width: 820px;
  height: 313px;
  margin-top: 38px;
}
.power-top {
  position: relative;
  width: 100%;
  height: 35px;
}
.power-top h2 {
  position: absolute;
  width: auto;
  height: 28px;
  top: 5px;
  left: 0;
  font-size: 18px;
  color: #0b0b0b;
}
.power ul {
  width: 840px;
  height: 257px;
  margin-top: 21px;
}
.power ul li {
  float: left;
  width: 151px;
  height: 257px;
  margin-right: 16px;
  background-color: #fefefe;
}
.perfect li div {
  width: 151px;
  height: 203px;
  position: relative;
  background: -webkit-linear-gradient(top, #fefefe, #fefefe, #8a8a8a);
}
.people {
  position: absolute;
  display: block;
  width: 151px;
  height: auto;
  bottom: 0;
  left: 0;
}
.perfect li>p {
  color: #424242;
  font-size: 16px;
  width: 100%;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  text-align: center;
}
.perfect div>a {
  display: block;
  position: absolute;
  left: 10px;
  top: 12px;
  text-align: center;
  width: 30px;
  height: 30px;
}
.role {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-role.png);
  background-size: 70px 45px;
  background-repeat: no-repeat;
}
.order {
  background-position: -52px 0;
}
.jungle {
  background-position: 0 0;
}
.mid {
  background-position: -23px -27px;
}
.lane {
  background-position: 0 -27px;
}
.assist {
  background-position: -25px 0;
}
.player-logo {
  width: 30px;
  position: absolute;
  top: 8px;
  right: 9px;
}
.standings {
  float: right;
  width: 496px;
  height: auto;
  margin-top: 38px;
}
.rank {
  width: 496px;
  height: 257px;
  margin-top: 21px;
  cursor: grab;
}
.rank h4 {
  width: 496px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  padding: 0 18px;
  font-size: 16px;
  font-weight: 400;
  background-color: #e0e0e0;
}
.rank h4 a {
  color: #151517;
}
.rank h4 a:nth-child(-n+3) {
  float: left;
}
.rank-a1 {
  width: 44px;
}
.rank-a2 {
  width: 124px;
  margin-left: 69px;
}
.rank-a3 {
  width: 100px;
  text-align: center;
  margin-left: 45px;
}
.rank-a4 {
  float: right;
  width: 44px;
  text-align: center;
}
.list {
  width: 496px;
  height: 225px;
  background-color: #fefefe;
  overflow: hidden;
  position: relative;
}
.list ul {
  width: 496px;
  height: auto;
  box-sizing: border-box;
  padding: 0 18px;
}
.list ul li {
  width: 460px;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  list-style: none;
  box-sizing: border-box;
  border-bottom: 1px #e0e2e2 solid;
}
.list-a1 {
  float: left;
  width: 44px;
  height: 46px;
  text-align: center;
  font-size: 18px;
  color: #7b7b7b;
}
.list li span {
  float: left;
  width: 124px;
  margin-left: 69px;
  font-size: 16px;
  color: #151517;
}
.list span img {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: auto;
  margin: -2px 12px 0 0;
}
.list-a2 {
  float: left;
  width: 100px;
  text-align: center;
  margin-left: 45px;
  font-size: 16px;
  color: #5f8d94;
}
.list-a3 {
  float: right;
  width: 44px;
  text-align: center;
  font-size: 16px;
  color: #5f8d94;
}
.game-sec {
  display: none;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 26px;
}
.game-cen {
  position: relative;
  height: 418px;
}
.list-col {
  height: auto;
  width: 268px;
  float: left;
}
.link {
  float: left;
  display: block;
  width: 85px;
  height: 156px;
  box-sizing: border-box;
  border-top: 1px #c2c2c2 solid;
  border-bottom: 1px #c2c2c2 solid;
  margin-top: 106px;
}
.list-col>div {
  width: 100%;
  height: auto;
  margin-bottom: 39px;
}
.part-time {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: left;
  color: #29a2b4;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 1px;
}
.info {
  width: 100%;
  height: 20px;
  margin-bottom: 7px;
}
.info .finish {
  float: left;
  height: 15px;
  line-height: 15px;
  padding: 0 2px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  margin-top: 3px;
  background-color: #bcbcbc;
}
.info-time {
  float: left;
  margin-left: 10px;
  height: 15px;
  line-height: 15px;
  color: #676767;
  font-size: 12px;
  margin-top: 3px;
}
.info-video {
  float: right;
  padding: 0 6px;
  box-sizing: border-box;
  border: 1px solid #bb9a6c;
  font-size: 14px;
  height: 20px;
  line-height: 18px;
  margin-left: 10px;
  color: #bb9a6c;
}
.info-data {
  float: right;
  padding: 0 6px;
  box-sizing: border-box;
  border: 1px solid #7ea1a6;
  font-size: 14px;
  height: 20px;
  line-height: 18px;
  margin-left: 10px;
  color: #7ea1a6;
}
.team {
  width: 100%;
  height: 44px;
  position: relative;
  background-color: #f7f6f6;
  margin-bottom: 1px;
}
.team span {
  float: left;
  width: 40px;
  height: 44px;
  text-align: center;
  line-height: 41px;
  margin-left: 6px;
}
.team span img {
  vertical-align: middle;
  height: 30px;
}
.team-name {
  float: left;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  color: #676767;
  margin-left: 8px;
}
.session {
  float: right;
  width: 23px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  background-color: #bcbcbc;
  font-size: 16px;
}
.win .session {
  background-color: #86a2ad;
}
.pending .session {
  background-color: #d1a662;
}
.pending {
  background-color: #faf6ec;
}
.info-video:hover {
  color: #fff;
  background-color: #bb9a6c;
}
.info-data:hover {
  color: #fff;
  background-color: #7ea1a6;
}
.info .finish2 {
  background-color: #e68f21;
}
.link-sec {
  float: left;
  display: block;
  margin-top: 106px;
  width: 110px;
  height: 155px;
  background-image: url(../images/events-spr.png);
  background-size: 699px 607px;
  background-repeat: no-repeat;
  background-position: 0 -452px;
}
.game-cen .list-top {
  padding-top: 77px;
}
.wrap3 .match-show {
  display: block;
}
.wrap4 {
  height: auto;
  margin-top: 0;
  padding: 66px 0 66px 0;
  position: relative;
  width: 100%;
  min-width: 1358px;
  overflow: hidden;
  background-color: #e3e2e2;
}
.hero-data {
  width: 100%;
  height: 35px;
  position: relative;
}
.hero-ul {
  position: absolute;
  height: 35px;
  left: 128px;
}
.hero-ul li {
  position: relative;
  cursor: pointer;
  float: left;
  width: auto;
  height: 37px;
  color: #676767;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  padding-left: 28px;
  line-height: 42px;
  margin-right: 40px;
}
.hero-ul li::after {
  content: '';
  position: absolute;
  display: block;
  top: 11px;
  left: 2px;
  margin-left: 0;
  width: 20px;
  height: 19px;
  background-image: url(../images/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
  background-position: -406px -316px;
}
.hero-ul .hero-li {
  font-weight: 700;
  color: #1da6ba;
}
.hero-ul .hero-li::after {
  background-position: -431px -316px;
}
.arrowhead-sec {
  width: 75px;
}
.heropeople {
  display: block;
  position: relative;
  margin-top: 21px;
  width: 1390px;
  height: 438px;
  top: 0px;
  left: 0;
  cursor: grab;
}
.heropeople ul {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  background-color: transparent;
  display: none;
}
.heropeople .hero-hide {
  display: block;
}
.hero-img {
  float: left;
  width: 90px;
  height: 100px;
  overflow: visible;
  margin: 0 16px 12px 0;
  position: relative;
  cursor: pointer;
}
.hero-img img {
  display: block;
  margin: 0 auto;
  width: 66px;
  height: 66px;
}
.hero-img i {
  display: none;
  position: absolute;
  width: 66px;
  height: 66px;
  top: 0;
  left: 12px;
  background-color: rgba(0,0,0,0.7);
}
.hero-img i span {
  display: block;
  margin: 23px auto;
  width: 21px;
  height: 21px;
  background-image: url(../images/index-spr.png);
  background-size: 617px 559px;
  background-repeat: no-repeat;
  background-position: -386px -221px;
}
.hero-img p {
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #333;
}
.hero-img:hover i {
  display: block;
}
.hero-img:hover p {
  color: #1da6ba;
}